@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=M+PLUS+1p&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=M+PLUS+1p&family=Montserrat:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}
@font-face {
  font-family: 'Netflix Sans';
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

:root{
    --primaryfont:"Anton", sans-serif ;
    --secondaryfont: 'Netflix Sans';
}
html{
    font-size: 62.5%;
}
body {
  background-color: black;
  /* overflow-x:  hidden; */
}
.main {
  background-image: url("bg.jpg");
  position: relative;
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(200.0rem, 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  background-color: black;
  height: 100%;
  width: 100vw;
  opacity: 0.7;
  top: 0;
  position: absolute;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.navbar {
  display: grid;
  padding: 0 2rem;
  margin-top: 2rem;
  grid-template-columns: 5fr 1fr 0.5fr;

  width: 117.3rem;
  height: 4.4rem;
}
.imglogo {
  position: relative;
  z-index: 10;
  width:15.0rem
}
.btn {
  background-color: rgb(0, 0, 0);


  position: relative;
  z-index: 10;
}
.btnsign {
  background-color: red;
  width: 7.6rem;
  border: 0.1rem solid rgb(255, 0, 0);
  height: 3.2rem;
  justify-self: end;
  color: white;
  border-radius: 0.5rem;
  align-self: center;
  font-weight: 600;
  margin: 0 0.5rem;
  /* font-size: 1.6rem; */
  /* position: relative;
z-index: 10; */
}
.btnlang {
  width: 12.3rem;
  height: 3.2rem;
  background-color: rgba(23, 23,23,0.23);
  border: 0.1rem solid rgb(95, 93, 93);
  /* font-size: 1.6rem; */
  color: rgb(255, 255, 255);
  /* opacity: 0.6; */
  justify-self: end;
  border-radius: 0.5rem;
  font-weight: 600;
  align-self: center;
  /* position: relative;
z-index: 10; */

}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 10;
  text-align: center;
}

.text1 {
  font-family: var(--secondaryfont);
 font-weight: 900;

  /* font-family: 'DM Serif Display', serif;
    font-family: 'Montserrat', sans-serif; */
  font-size: 5.0rem;
}

.text2{

font-family: var(--secondaryfont);

    font-size: 2.4rem;
    padding: 1.0rem 1.0rem;
}

.text3{
    font-family: var(--secondaryfont);

    font-size: 2.4rem;
    padding: 1.0rem 1.0rem;
    margin-bottom: 0.5rem;
}

.get{
    padding: 1.0rem 2.0rem;
    font-family: var(--secondaryfont);
    font-size: 2.0rem;
    font-weight: 700;
    background-color: red;
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    color: white;
    margin: 1.0rem;

}
.place{
    margin-right: -0.5rem;
    padding:  1.4rem 23.1rem 1.2rem 1.2rem;
    font-family: var(--secondaryfont);
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgba(23, 23,23,0.23);
    color: white;
    opacity: 0.6;
    border: 0.1rem solid seashell;
    border-radius: 0.5rem;
}
::placeholder {
  color: white;
  /* opacity: 1; Firefox */
}
.inputandbutton{
    display:inline-block;

}
.inputandbutton2{
  display:inline-block;
  text-align: center;
  margin-top: 0rem;
  padding-top: 1rem;


}
.line{
    width: 100vw;
    height: 0.75rem;
    background-color: rgb(43, 42, 42);
}

.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}
.container1{
  /* border: 2px solid red; */
  height: 56.0rem;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.container4{
  /* border: 2px solid red; */
  height: 56.0rem;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.content1{
  width: 50%;
  /* border: 1px solid blue; */
  color: white;

  
}
.content1 h1{
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;;
  font-size: 5.5rem;
  font-weight: 900;
}

.content1 span{
  font-family: var(--secondaryfont);
  font-weight: 400;
    font-size: 2.4rem;
   
}


.tv1{
  width: 50%;
  /* border: 1px solid rgb(200, 240, 25); */
  color: white;
  position: relative;
}
.imgtv1{
  position: relative;
  z-index: 10;
  width: 55.5rem;
}
.mp4tv1{
  position: absolute;
  top: 8.5rem;
  left: 7.3rem;
  width: 41.0rem;
  
}


.section2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2{
  /* border: 2px solid red; */
  height: 56.0rem;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.content2{
  width: 50%;
  /* border: 1px solid blue; */
  color: white;

  
}
.imgstrbg{
  position: relative;
  justify-content: center;
}

.tv2{
  width: 50%;
  /* height: auto; */
  /* border: 1px solid rgb(200, 240, 25); */
  color: white;
  position: relative;
  display: flex;
  justify-content:center;
  /* margin: 0 73px; */
}
.tv4{
  width: 50%;
  /* height: auto; */
  /* border: 1px solid rgb(200, 240, 25); */
  color: white;
  position: relative;
  display: flex;
  justify-content:center;
  /* margin: 0 73px; */
}
.imgtv2{
  width: 36.6rem;
  /* margin-right: 14.0rem; */
}
.imgtv4{
  width: 36.6rem;
  /* margin-right: 14.0rem; */
}
.content2 h1{
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;;
  font-size: 5.5rem;
  font-weight: 900;
}

.content2 span{
  font-family: var(--secondaryfont);
  font-weight: 400;
    font-size: 2.4rem;
   
}
.gif{
  border: .1rem solid rgb(95, 93, 93);
  background-color: black;
  height: 9.9rem;
    width: 32.8rem;
  position: absolute  ;
  top: 26.4rem;
  left: 1.89rem;
  border-radius: 1.2rem;
  display: flex;
  position: absolute;

}
.giftext{
  align-self: center;
  font-family: var(--secondaryfont);
  font-weight: 600;
    font-size: 1.4rem;
}
.giftext small{
  font-family: var(--secondaryfont);
  font-weight:lighter;
    font-size: 1rem;
    color: rgb(35, 35, 226);
}

.imgstrlogo{
  width: 5.8rem;
  padding: 0.9rem 1.2rem;
}
.downgif{
  margin:  2.1rem 0rem 0rem 7.7rem;
}
.gifdowngif{
width: 5.0rem;
}


/* section3 */

.section3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3{
  /* border: 2px solid red; */
  height: 56.0rem;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content3{
  width: 50%;
  /* border: 1px solid blue; */
  color: white;

  
}
.content3 h1{
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;;
  font-size: 5.5rem;
  font-weight: 900;
}

.content3 span{
  font-family: var(--secondaryfont);
  font-weight: 400;
    font-size: 2.4rem;
   
}


.tv3{
  width: 50%;
  /* border: 1px solid rgb(200, 240, 25); */
  color: white;
  position: relative;
}

.imgtv3{
  position: relative;
  z-index: 10;
  width: 55.5rem;
}
.mp4tv3{
  /* position: absolute;
  top: 8.5rem;
  left: 7.3rem;
  width: 41.0rem; */

  position: absolute;
    top: 4.5rem;
    left: 9.3rem;
    width: 35rem;
  
}

/* section5 */
.section5{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.section5 .faqhead h1{
  text-align: center;

  color: white;
  padding: 3.4rem;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;;
  font-size: 5rem;
  font-weight: 900;

}

.sec5box{
  /* border:1px solid red; */
  width: 60%;
  height: 8rem;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}

.sec5box span{
  font-family: var(--secondaryfont);
  font-weight: 400;
    font-size: 2.4rem;  
    color: white;
    padding: 0 2rem;
}

.sec5box img{
  width:3rem;
  padding: 0 2rem;
}

.sec5box2{
  width: 60%;
  height: 8rem;
  /* background-color: #262626; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0rem -2rem 0rem;
}
.sec5box2 span{
  font-family: var(--secondaryfont);
  font-weight: 400;
    font-size: 2rem;  
    color: white;
    padding: 0;
    text-align: center;
    height: auto;
}

/* footercss */
.section6{
  width: 100vw;
  height: auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  font-family: var(--secondaryfont);
  /* font-weight: 400; */
    font-size: 14px;  
    color: rgba(255,255,255,0.7);
}
a{
  color: rgba(255,255,255,0.7);
}
.section6 .head{
  margin: 4rem 0rem 2rem 0rem;
}
.foot{
  display: grid;
  width: 60vw;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  height: auto;

}
.foot1{
  justify-self:flex-start;
  align-self: center;
  padding: 1rem 0rem;  
}

.btnlang1 {
  width: 123px;
  height: 32px;
  background-color: rgba(23, 23,23,0.23);
  border: 1px solid rgb(95, 93, 93);
  /* font-size: 1.6rem; */
  color: rgb(255, 255, 255);
  /* opacity: 0.6; */
  justify-self:flex-start;
  border-radius: 5px;
  font-weight: 600;
  align-self: center;
  
  /* position: relative;
z-index: 10; */

}
.btn1 {
  background-color: rgb(0, 0, 0);

margin: 1rem 0rem;
  position: relative;
  z-index: 10;
}
.netflix{
  margin: 1rem 0rem;
}





/* media queries */
@media(max-width:960px){
    html{
        font-size: 40%;

    }
    .main {
        background-image: url("bg.jpg");
        position: relative;
        height: 50vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: max(300.0rem, 100vw);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .btnsign {
        background-color: red;
        width: 10.6rem;
        border: 0.1rem solid rgb(255, 0, 0);
        height: 5.2rem;
        justify-self: end;
        color: white;
        border-radius: 0.5rem;
        align-self: center;
        font-weight: 600;
        margin: 0 0.5rem;
        /* font-size: 1.6rem; */
        /* position: relative;
      z-index: 10; */
      }
      .btnlang {
        width: 15.3rem;
        height: 5.2rem;
        background-color: rgba(23, 23,23,0.23);
        border: 0.1rem solid rgb(95, 93, 93);
        /* font-size: 1.6rem; */
        color: rgb(255, 255, 255);
        /* opacity: 0.6; */
        justify-self: end;
        border-radius: 0.5rem;
        font-weight: 600;
        align-self: center;
        padding: 0 0.5rem;
        /* position: relative;
      z-index: 10; */
      
      }
   
      .container1{
        /* border: 2px solid red; */
        /* height: 56.0rem; */
        height: auto;
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .container3{
        /* border: 2px solid red; */
        /* height: 56.0rem; */
        height: auto;
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .content1{
        width: 50%;
        /* border: 1px solid blue; */
        color: white;
      text-align: center;
      margin: 25px 0px;
        
      }
      .content2{
        width: 50%;
        /* border: 1px solid blue; */
        color: white;
      text-align: center;
        margin: 25px 0px;
      }
      .content3{
        width: 50%;
        /* border: 1px solid blue; */
        color: white;
      text-align: center;
      margin: 25px 0px;
        
      }
 
      .tv1{
        /* width: 50%; */
        width: auto;
        /* border: 1px solid rgb(200, 240, 25); */
        color: white;
        position: relative;
        justify-content: center;
        text-align: center;
      }
      .tv1{
        /* width: 50%; */
        width: auto;
        /* border: 1px solid rgb(200, 240, 25); */
        color: white;
        position: relative;
        justify-content: center;
        text-align: center;
      }
      .tv3{
        width:auto;
        
        /* border: 1px solid rgb(200, 240, 25); */
        color: white;
        position: relative;
        display: flex;
        justify-content: end;
      }
      .imgtv1{
        position: relative;
        z-index: 10;
        width: 55.5rem;
      }
      .mp4tv1{
        position: absolute;
        top: 8.5rem;
        left: 7.3rem;
        width: 41.0rem;
        
      }
      .imgtv3{
        position: relative;
        z-index: 10;
        width: 46.5rem;
      }
      .mp4tv3{
        position: absolute;
        top: 8.5rem;
        left: 7.3rem;
        width: 26.0rem;
        
      }
      .container2{
        /* border: 2px solid red; */
        height: auto;
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;

      }
      .container4{
        /* border: 2px solid red; */
        height: auto;
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
      
      }

      .foot{
        display: grid;
        width: 60vw;
        grid-template-columns: 1fr 1fr  ;
        height: auto;
      
      }

}

@media(max-width:500px){
    html{
        font-size: 30%;
    }
    .btnlang {
        width: 8.8rem;
        height: 5.2rem;
        background-color: rgba(23, 23,23,0.23);
        border: 0.1rem solid rgb(95, 93, 93);
        font-size: 0rem;
        color: rgb(255, 255, 255);
        /* opacity: 0.6; */
        justify-self: end;
        border-radius: 0.5rem;
        font-weight: 600;
        align-self: center;
        margin: 0 0.5rem;
        /* position: relative;
      z-index: 10; */
      
      }
    
     
}

